<div>
    <div class="container">
        <h1>ngx-jazzicon</h1>
        <div class="container--header">
            <div class="header--icon">
                <ngx-jazzicon [seed]="seed" [diameter]="diameter" [shapeCount]="shapeCount"></ngx-jazzicon>
            </div>
            <div class="header--control">
                <input [(ngModel)]="seed" type="text" max="10" placeholder="Type seed here" />
                <input [(ngModel)]="diameter" type="number" min="0" step="25" placeholder="Type diameter here" />
                <input [(ngModel)]="shapeCount" type="number" min="2" placeholder="Type shape count here" />
            </div>
        </div>
        <div class="container--body">
            <div *ngFor="let seed of seeds">
                <ngx-jazzicon [seed]="seed"></ngx-jazzicon>
            </div>
        </div>
    </div>
</div>